__pycache__/
*.py[cod]

# Visual Studio Code
.vscode/
*.code-workspace

# Distribution / packaging
build/
dist/
wheels/
*.egg-info/

# Unit test / coverage reports
.htmlcov/
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
tests/testing.ipynb

# Environments
.env
.venv
env/
venv/
.test-env
test-env/
.test-venv
test-venv/
.test_env
test_env/
.test_venv
test_venv/

# mypy
.mypy_cache/